<div class="jumbotron">
  <h1>Rails Contact List</h1>
  <p>
    Lista de contatos em qualquer lugar
  </p>
  <p>
    <%= link_to 'Crie Sua Conta', "#", class: 'btn btn-primary btn-lg' %>
  </p>
</div>