<p style="color: green"><%= notice %></p>
<div class="jumbotron">
  <h1>Rails Contact List</h1>
  <p>
    Lista de contatos em qualquer lugar
  </p>
  <p>
    <%=link_to "Nova Conta", new_user_path, class: 'btn btn-primary btn-lg' %>
  </p>
</div>